.login-container {
  text-align: center;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.login-main {
  background: #92b775;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  padding: 25px;
  align-self: flex-start;
  position: relative;
  top: 5%;
  z-index: 2;
  width: 80%;
  aspect-ratio: 2.4;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.login-container form {
  margin: 0px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.login-container label {
  font-size: 0.9rem;
  color: #555;
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #FEFAE0;
}

.login-container input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 10px rgba(106, 17, 203, 0.3);
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: black;
  background: linear-gradient(135deg, #ffc080, #f5f5dc);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s ease;
  margin: auto;
}

.login-container button[type="submit"]:hover {
  background: linear-gradient(135deg, #f5f5dc, #ffc080);
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-main a {
  color: #6a11cb;
  text-decoration: none;
  font-size: 0.9rem;
  margin-top: 10px;
  display: flex;
  transition: color 0.3s;
  justify-self: center;
}

.login-wrapper a:hover {
  color: #2575fc;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
  
    justify-content: center;
    align-items: center;
}

.login-profile {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20%;
  width: 30%;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #FEFAE0;
  margin: 0px;
}

.login-profile img {
  border-radius: 50%;
  width: 80%;
  aspect-ratio: 1/1;
}